<section class="room-content">
    <div #streamContainer></div>
    <section class="users">
        <div class="user-card"
             *ngFor="let user of $onlineList | async">
            <img [ngClass]="{'host': user.key === room?.host}"
                 [src]="'https://i.pravatar.cc/150?u='+user.key"
                 alt="">
            <h4>{{user?.displayName}}</h4>
        </div>
    </section>
</section>
<section class="room-footer">
    <button class="btn leave-btn"
            (click)="leaveRoom()">✌️ Leave quietly</button>
</section>