body {
  margin: 0;
  background-color: #f1efe5;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.btn {
  background: #26ad60;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: none;
  border: 0;
  font-size: 16px;
  display: inline-block;
  margin: 0 auto;
  transition: all 0.1s ease-in;
  opacity: 1;
}
